<script src="/js/members.js"></script>
<nav class="navbar navbar-default">
<div class="container-fluid">
  <div class="navbar-header">
    <a class="navbar-brand" href="/logout">
      Logout
    </a>
  </div>
</div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h2>Welcome! <span class="member-name"></span></h2>
    </div>
      <div class="col-md-6 col-md-offset-3">
      <h4>Character Info</h4>
      <p>
        User Name: <span id = "level"></span>
        <br>
        Level: <span id = "level"></span>
        <br>
        HP: <span id = "hp"></span>
        <br>
        Alive: <span id = "alive"></span>
      </p>
    </div>
    <div class="col-md-6 col-md-offset-3">
      <h4><a href="/game">Start Game!</a></h4>
    </div>
  </div>
</div>
